@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

footer{
    min-height: 55vh;
    overflow:scroll;
    background-color: rgba(0, 0, 0, 0.884);
    font-family: "Inter", sans-serif;
    font-size: clamp(1vw,0.6vw,0.8rem);
    
}

.footer-up{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5vh;
    /* border: 2px solid red; */
}
.footer-up-left{
    min-height: 50vh;
    max-width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    border-right: 1px solid gray;
    /* border: 2px solid rgb(255, 0, 242); */
}
.footer-up-right{
    min-height: 50vh;
    max-width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    /* border: 2px solid red; */
}


.footer-boxes{
    max-width: 300px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    padding: 2vh;
    font-family: "Inter",sans-serif;
    font-size: 0.8rem;
    /* border: 2px solid green; */

}

.footer-boxes>span{
    color: gray;
}
.footer-boxes>ul>li>a{
    text-decoration: none;
    color: white;
    
}
.footer-boxes>ul>li{
 list-style: none;
 padding-top: 5px;
    
}
.footer-down{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: white;
    min-height: 5vh;
    max-width: 100%;
    border-top: 1px solid gray;
    font-family: "Inter",sans-serif;
    font-size: clamp(0.2vh,0.6rem,1rem);
    font-weight: normal;
    text-align: center;
}
